body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    font-size: 1.5em;
}

h1 {
    margin-top: 20px;
}

.content-section {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    min-height: 1000px;
}

.content-section h2 {
    margin-top: 0;
}


@media (min-width: 992px) {
    .tall-section {
        height: 1000px; 
    }
}


.navbar-toggle {
    margin: 0;
    padding: 9px 10px;
}

@media (max-width: 991px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: #ccc;
        border: 0;
        box-shadow: none;
    }
}


.hidden-md.hidden-lg {
    display: none;
}

@media (max-width: 991px) {
    .hidden-md.hidden-lg {
        display: block;
    }
}


.navbar-nav {
    width: 100%;
}


.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
